# === Spring Boot / Maven ===
proto-back/target/
proto-back/.mvn/
proto-back/.idea/
proto-back/*.iml
proto-back/*.log

# === React / Node ===
webapp/node_modules/
webapp/build/
webapp/dist/
webapp/.idea/
proto-front/*.iml
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*

# === OS spécifiques ===
.DS_Store
__MACOSX/
Thumbs.db
ehthumbs.db
Desktop.ini

# === Environnements / Autres ===
.env
.env.local
*.zip
*.tar
*.rar
