# IDE / Éditeurs
.vscode/
.idea/
*.iml

# Node / React
node_modules/
build/
dist/

# Logs et fichiers temporaires
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring Boot / Maven
api/target/
api/.mvn/
api/*.log

# Fichiers OS spécifiques
.DS_Store
__MACOSX/
Thumbs.db
ehthumbs.db
Desktop.ini


# Environnements / Archives
.env
.env.local
*.zip
*.tar
*.rar
