version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: password
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: SoluCityBackend:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
      SPRING_DATASOURCE_USERNAME: SoluCityBD
      SPRING_DATASOURCE_PASSWORD: SoluCityBD
    depends_on:
      - db

  frontend:
    image: SoluCityFrontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pg_data:
  